<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eHealthCareEntities" connectionString="metadata=res://*/EHealthCare.csdl|res://*/EHealthCare.ssdl|res://*/EHealthCare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fbwekyehn1.database.windows.net;initial catalog=eHealthCare;persist security info=True;user id=<user>;password=<password>;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>