<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EHealthCareDesktopApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="EHealthCareDesktopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
  <add name="eHealthCareEntities" connectionString="metadata=res://*/EHealthCare.csdl|res://*/EHealthCare.ssdl|res://*/EHealthCare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fbwekyehn1.database.windows.net;initial catalog=eHealthCare;persist security info=True;user id=<user>;password=<password>;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <EHealthCareDesktopApp.Settings>
      <setting name="PatientID" serializeAs="String">
        <value>0</value>
      </setting>
    </EHealthCareDesktopApp.Settings>
    <EHealthCareDesktopApp.Properties.Settings>
      <setting name="PatientID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PatientName" serializeAs="String">
        <value/>
      </setting>
      <setting name="UniqueIdentifier" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
    </EHealthCareDesktopApp.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
