@import 'bootstrap.min.css';
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);
@font-face {
    font-family: 'steel';
    src: url('./../fonts/steelfish_rg-webfont.eot');
    src: url('./../fonts/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/steelfish_rg-webfont.woff') format('woff'),
         url('./../fonts/steelfish_rg-webfont.ttf') format('truetype'),
         url('./../fonts/steelfish_rg-webfont.svg#steelfishregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{height: 100%;width: 100%; background: #E0E6E6; font-family: 'Lato', sans-serif; font-weight: 400;}
#map{height: 280px;}
.section {min-height: 100%; width:100%;position: relative;background: #E0E6E6;}
.relative{position: relative;}

	#intro.full{background: #39C458 }
	#intro.full90{background: #30A24A }
	#intro.full80{background: #269172 }
	#intro.full70{background: #2FB189 }
	#intro.full60{background: #EBB821 }
	#intro.full50{background: #EB8A17 }
	#intro.full40{background: #DC6712 }
	#intro.full30{background: #C13C06 }
	#intro.full20{background: #DB332D }

#weight{background: #E0E6E6;}
#me{color: red}
.introtitle {color: white; text-transform: uppercase;font-size: 50px;text-align: center;font-family: 'Lato', sans-serif; font-weight: 300;line-height: 50px}

#logo{width: 150px; height: 150px; background: url(./../imgs/pentafx.png) top center no-repeat;margin: 50px auto;}
#arrowstart{margin-left: 15px;}
.time{font-size: 25px;font-weight: 400;}

.sectiontitle{font-family: 'Lato',sans-serif; font-size: 60px; font-weight: 400; border-bottom: 1px solid #A2A6A6;text-transform: uppercase;padding-bottom: 25px;color: #0C2B38;padding-top: 50px;}
.datatitle{font-family: 'Lato',sans-serif; font-size: 20px;font-weight: 300;color: #0C2B38;border-bottom: 1px solid #A2A6A6;padding-bottom: 15px;}

.bigchiffre{font-family: 'steel'; font-size:40px;line-height: 100px;}
	.bigchiffre .unit.weight{font-size: 50px;color: #0C2B38;}
	.bigchiffre .data.weight{color: #40BCD7}
	.bigchiffre .unit.steps{font-size: 50px;color: #0C2B38;}
	.bigchiffre .data.steps{color: #77B731}
	.bigchiffre .unit.coffee{font-size: 50px;color: #0C2B38;}
	.bigchiffre .data.coffee{color: #998478}
	.bigchiffre .unit.elevation{font-size: 50px;color: #0C2B38;}
	.bigchiffre .data.elevation{color: #4B6581}
	.bigchiffre .unit.trip{font-size: 50px;color: #0C2B38;}
	.bigchiffre .data.trip{color: #40BCD7}

#mountain{background: url(./../imgs/mountain.png) bottom center no-repeat;height: 380px;}
#mountain-label{font-family: 'Josefin Slab';font-size: 20px;}
#icon-steps{background: url(./../imgs/step.png) 200px 40px no-repeat;}
#icon-coffee{background: url(./../imgs/coffee.png) 95px 57px no-repeat;}

#legend-coffee, #legend-step, #legend-elevation, #legend-weight{margin: -50px auto 0 auto; width: 170px;}

#tripcategory{list-style: none;padding: 0;margin: 0;}
#tripcategory .tripcat{padding-left: 80px;height: 80px;line-height: 80px;font-size: 50px;font-family: 'steel';display: inline-block;margin-right: 65px;}
	.tripcat .unit{font-size: 20px;}
	.tripcat.airport{background: url(./../imgs/icomap.png) top left no-repeat;}
	.tripcat.train{background: url(./../imgs/icomap.png) center left no-repeat;}
	.tripcat.boat{background: url(./../imgs/icomap.png) bottom left no-repeat;}


.legendlabel{float: left;margin: 0 10px 0 0;height: 30px;line-height: 30px;}
	.legendlabel .rect{width: 20px;height: 10px;display: inline-block;margin-right: 10px;}
	.legendlabel .title{font-family: 'Josefin Slab';font-size: 15px;display: inline-block;}

/* bottom nav*/
.bottom {position: absolute;bottom: 0;z-index: 10;height: 30px;width: 100%;padding: 5px 0;line-height: 30px;color: white;}
	#bot{background: #232F3F;}

.battery{width: 30px;height: 12px;background: url(./../imgs/sprite.png) no-repeat;margin-top: 9px;margin-right: 5px; float: left;cursor: pointer;}
	.battery.full{background-position: 0 -155px;}
	.battery.full90{background-position: -80px -155px}
	.battery.full80{background-position: -160px -155px}
	.battery.full70{background-position: -240px -155px}
	.battery.full60{background-position: -320px -155px}
	.battery.full50{background-position: -400px -155px}
	.battery.full40{background-position: -480px -155px}
	.battery.full30{background-position: -560px -155px}
	.battery.full20{background-position: -640px -155px}


ul#socialnav{list-style: none;margin: 0;padding: 0;float: right;}
	ul#socialnav li{display: inline-block;margin: 0 5px;width: 30px;float: right;}

.font-mid{font-size: 20px;}
.social{background: url(./../imgs/sprite.png) no-repeat;height: 25px;cursor: pointer;}
	.social a{display: block;text-indent: -2000em; height: 100%;}
	.social#mapize{background-position: 0 0;}
		.social#mapize:hover{background-position: -80px 0;}
	.social#twitter{background-position: -160px 0}
		.social#twitter:hover{background-position: -240px 0;}
	.social#facebook{background-position: -320px 0;}
		.social#facebook:hover{background-position: -400px 0;}
	.social#linkedin{background-position: -480px 0;}
		.social#linkedin:hover{background-position: -560px 0;}

.arrow{width: 10px; height: 30px; background: url(./../imgs/sprite.png) no-repeat; text-indent: -2000em;display: inline-block;}
	.arrow.arrow-left{background-position: 0 -78px;}
		.arrow.arrow-left:hover{background-position: -120px -78px;}
	.arrow.arrow-right{background-position: -80px -78px}
		.arrow.arrow-right:hover{background-position: -200px -78px;}


#mara{background:url(./../imgs/mara.png) 100px 40px no-repeat;}
#heart {width:15px ;height: 12px; ;background: url(./../imgs/spritesh.png) -370px 0 no-repeat;display: inline-block;}

/* === Media Queries === */

/* TABLET */
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
	body{ padding: 0; }
	.container{padding: 0 20px;}
	.social {
		width: 30px; display: inline-block;
	}
	.bottom{height: 30px;}
	[class*="span"]{text-align:center;}
	#batterylabel{text-align: left;float: left;width: auto;}
	#icon-coffee{background: url(./../imgs/coffee.png) 100px 15px no-repeat;}
	#icon-steps{background: url(./../imgs/step.png) 185px 10px no-repeat;}
	#theweight, #thesteps{margin-bottom: 60px;}
	#tripcategory .tripcat{margin-right: 0;display: inline-block;text-align: left;}
	.bigchiffre{font-family: 'steel'; font-size:60px;line-height: 60px;}
		.bigchiffre .unit{font-size: 20px;}
.introtitle {color: white; text-transform: uppercase;font-size: 35px;text-align: center;font-family: 'Lato', sans-serif; font-weight: 300;line-height: 35px;}
.sectiontitle{text-align: left;}
}


@media (max-width: 767px) {
	body{ padding: 0; }
	.container{padding: 0 20px;}
	.social {
		width: 30px; display: inline-block;
	}
	.bottom{height: 30px;}
	#batterylabel{text-align: left;float: left;width: auto;}
	[class*="span"]{text-align:center;}
	#icon-coffee{background: url(./../imgs/coffee.png) 175px 20px no-repeat;}
	#icon-steps{background: url(./../imgs/step.png) 200px 10px no-repeat;}
	#theweight, #thesteps{margin-bottom: 60px;}
	#tripcategory .tripcat{margin-right: 0;display: inline-block;text-align: left;}
	.bigchiffre{font-family: 'steel'; font-size:80px;line-height: 80px;}
		.bigchiffre .unit{font-size: 30px;}
.introtitle {color: white; text-transform: uppercase;font-size: 35px;text-align: center;font-family: 'Lato', sans-serif; font-weight: 300;line-height: 35px}
}

footer {
	background: #242E3F;
	padding: 10px 0;
	text-align: center;
	color: white;
}
footer p{margin :0;}
footer a{text-decoration: none;font-size: 14px;color: white;}
footer a:hover{color: white;text-decoration: underline;}
.alpha{margin-left: 0} .omega{margin-right: 0}
.left{float: left;}
.ri{float: right;}

#tweetbtn {text-align: center;}
#arrowdown{width: 46px;height: 46px;background: url(./../imgs/arrowdown.png) bottom left no-repeat;z-index: 50;cursor: pointer;margin: 45px auto 0 auto;}
#arrowdown:hover{background-position: 0 0;}

