@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>E-HealthCare - Steps</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../Content/main.css" rel="stylesheet" />
	<link rel="stylesheet" href="http://mapize.com/projects/fx/css/leaflet.css" />
	<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://mapize.com/projects/fx/css//leaflet.ie.css" />
	<![endif]-->
</head>
<body>
    <table id="grid1"></table>
</body>
</html>

<script src="../../Scripts/jquery-1.7.1.js"></script>
<script src="../../Scripts/plugs.js"></script>
<script src="../../Scripts/otherChart.js"></script>

<link href="../../Content/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link href="../../Content/structure/infragistics.css" rel="stylesheet" />

<script src="../../Scripts/jquery-ui-1.8.20.min.js"></script>
<script src="../../Scripts/infragistics.util.js"></script>
<script src="../../Scripts/infragistics.core.js"></script>
<script src="../../Scripts/infragistics.lob.js"></script>

@if(ViewBag.DrugResult != ""){
<script type="text/javascript">
    $(function () {

        $(function () {
            $("#grid1").igGrid({
                columns: [
                    { headerText: "NDA", key: "nda", dataType: "string" },
                    { headerText: "Labeler Name", key: "labelerName", dataType: "string" },
                    { headerText: "Proprietary Name", key: "proprietaryName", dataType: "string" },
                    { headerText: "Strength", key: "strength", dataType: "string" },
                    { headerText: "Unit", key: "unit", dataType: "string" },
                    { headerText: "Substance Name", key: "substanceName", dataType: "string" }
                ],
                autoGenerateColumns: false, 
                dataSource: @Html.Raw(@ViewBag.DrugResult),
                defaultColumnWidth: 150 ,
                features: [  
                    {  
                        name: 'Paging',  
                        type: 'local',  
                        pageSize: 5
                    },  
                    {  
                        name: 'Sorting',  
                        type: 'local'  
                    },  
                    {  
                        name: 'Filtering',  
                        type: 'local',  
                        mode: 'advanced'                                      
                    }  
                ]  
            });
        });

    });
</script>
}